Package: t2-kernel-script-debian
Version: 1.4.4
Maintainer: Aditya Garg
Architecture: amd64
Description: Kernel upgrade script for Debian kernels
Depends: curl, wget
Replaces: t2-kernel-script, t2-kernel-script-lts
