Package: t2-kernel-script-lts
Version: 4.7.6
Maintainer: Aditya Garg
Architecture: amd64
Description: Kernel upgrade script for LTS kernels
Depends: curl, wget, libnotify-bin
Replaces: t2-kernel-script, t2-kernel-script-debian
