Package: t2-kernel-script
Version: 7.4.3
Maintainer: Aditya Garg
Architecture: amd64
Description: Kernel upgrade script for Mainline kernels
Depends: curl, wget, libnotify-bin
Replaces: t2-kernel-script-lts, t2-kernel-script-debian
